In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r'C:\Users\rtc32\OneDrive\바탕 화면\데이톤\Datasets\application_train.csv')
df_b_b = pd.read_csv(r'C:\Users\rtc32\OneDrive\바탕 화면\데이톤\Datasets\bureau_balance.csv')
df_b = pd.read_csv(r'C:\Users\rtc32\OneDrive\바탕 화면\데이톤\Datasets\bureau.csv')
df_credit_card_balance = pd.read_csv(r'C:\Users\rtc32\OneDrive\바탕 화면\데이톤\Datasets\credit_card_balance.csv')
df_installments_payments = pd.read_csv(r'C:\Users\rtc32\OneDrive\바탕 화면\데이톤\Datasets\installments_payments.csv')
df_pos_cash_balance = pd.read_csv(r'C:\Users\rtc32\OneDrive\바탕 화면\데이톤\Datasets\POS_CASH_balance.csv')
df_previous_application = pd.read_csv(r'C:\Users\rtc32\OneDrive\바탕 화면\데이톤\Datasets\previous_application.csv')

In [3]:
df.shape

(307511, 122)

In [4]:
df.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

In [7]:
pd.set_option('display.max_rows', None)
df_counts = df.isnull().sum()
print("변수별 결측치 개수:")
print(df_counts[df_counts > 0])

변수별 결측치 개수:
AMT_ANNUITY                         12
AMT_GOODS_PRICE                    278
NAME_TYPE_SUITE                   1292
OWN_CAR_AGE                     202929
OCCUPATION_TYPE                  96391
CNT_FAM_MEMBERS                      2
EXT_SOURCE_1                    173378
EXT_SOURCE_2                       660
EXT_SOURCE_3                     60965
APARTMENTS_AVG                  156061
BASEMENTAREA_AVG                179943
YEARS_BEGINEXPLUATATION_AVG     150007
YEARS_BUILD_AVG                 204488
COMMONAREA_AVG                  214865
ELEVATORS_AVG                   163891
ENTRANCES_AVG                   154828
FLOORSMAX_AVG                   153020
FLOORSMIN_AVG                   208642
LANDAREA_AVG                    182590
LIVINGAPARTMENTS_AVG            210199
LIVINGAREA_AVG                  154350
NONLIVINGAPARTMENTS_AVG         213514
NONLIVINGAREA_AVG               169682
APARTMENTS_MODE                 156061
BASEMENTAREA_MODE               179943
YEARS_BEGINEXPLUATATION_MODE    150007
YEARS_BUILD_MODE                204488
COMMONAREA_MODE                 214865
ELEVATORS_MODE                  163891
ENTRANCES_MODE                  154828
FLOORSMAX_MODE                  153020
FLOORSMIN_MODE                  208642
LANDAREA_MODE                   182590
LIVINGAPARTMENTS_MODE           210199
LIVINGAREA_MODE                 154350
NONLIVINGAPARTMENTS_MODE        213514
NONLIVINGAREA_MODE              169682
APARTMENTS_MEDI                 156061
BASEMENTAREA_MEDI               179943
YEARS_BEGINEXPLUATATION_MEDI    150007
YEARS_BUILD_MEDI                204488
COMMONAREA_MEDI                 214865
ELEVATORS_MEDI                  163891
ENTRANCES_MEDI                  154828
FLOORSMAX_MEDI                  153020
FLOORSMIN_MEDI                  208642
LANDAREA_MEDI                   182590
LIVINGAPARTMENTS_MEDI           210199
LIVINGAREA_MEDI                 154350
NONLIVINGAPARTMENTS_MEDI        213514
NONLIVINGAREA_MEDI              169682
FONDKAPREMONT_MODE              210295
HOUSETYPE_MODE                  154297
TOTALAREA_MODE                  148431
WALLSMATERIAL_MODE              156341
EMERGENCYSTATE_MODE             145755
OBS_30_CNT_SOCIAL_CIRCLE          1021
DEF_30_CNT_SOCIAL_CIRCLE          1021
OBS_60_CNT_SOCIAL_CIRCLE          1021
DEF_60_CNT_SOCIAL_CIRCLE          1021
DAYS_LAST_PHONE_CHANGE               1
AMT_REQ_CREDIT_BUREAU_HOUR       41519
AMT_REQ_CREDIT_BUREAU_DAY        41519
AMT_REQ_CREDIT_BUREAU_WEEK       41519
AMT_REQ_CREDIT_BUREAU_MON        41519
AMT_REQ_CREDIT_BUREAU_QRT        41519
AMT_REQ_CREDIT_BUREAU_YEAR       41519
dtype: int64

In [8]:
df_counts.count()

122

In [ ]:
df

In [ ]:
df_previous_application

In [6]:
df_credit_card_balance.shape

(3840312, 23)

In [4]:
from sqlalchemy import create_engine

In [8]:
# DB 연결
engine = create_engine('mysql+pymysql://root:1234@localhost:3306/finance')
# MySQL로 업로드 (테이블 자동 생성됨)
df_credit_card_balance.to_sql(name='credit_card_balance', con=engine, index=False, if_exists='replace')

3840312

In [7]:
import pymysql

conn = pymysql.connect(
    host='localhost',
    port=3306,
    user='root',
    password='1234',
    database='finance',
    charset='utf8mb4'
)

In [14]:
import pandas as pd
from sqlalchemy import create_engine
from tqdm import tqdm

# SQLAlchemy 엔진으로 DB 연결
engine = create_engine('mysql+pymysql://root:1234@localhost:3306/finance')

# 업로드할 데이터프레임과 테이블명 목록
table_list = [
    (df, 'application_train'),
    (df_b_b, 'bureau_balance'),
    (df_b, 'bureau'),
    (df_installments_payments, 'installments_payments'),
    (df_pos_cash_balance, 'POS_CASH_balance'),
    (df_previous_application, 'previous_application'),
]

# tqdm으로 진행상황 표시하며 업로드
for df_, name in tqdm(table_list, desc='Uploading to MySQL'):
    df_.to_sql(name=name, con=engine, index=False, if_exists='replace')

Uploading to MySQL:  67%|██████▋   | 4/6 [23:39<12:42, 381.02s/it]C:\Users\rtc32\AppData\Local\Temp\ipykernel_18812\2891168425.py:20: UserWarning: The provided table name 'POS_CASH_balance' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_.to_sql(name=name, con=engine, index=False, if_exists='replace')
Uploading to MySQL: 100%|██████████| 6/6 [32:20<00:00, 323.48s/it]

In [2]:
import pandas as pd
df_credit_card_balance = pd.read_csv(r'C:\Users\rtc32\OneDrive\바탕 화면\데이톤\Datasets\credit_card_balance.csv')

In [3]:
df_credit_card_balance.describe()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,SK_DPD,SK_DPD_DEF
count,3.840312e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.090496e+06,3.840312e+06,3.090496e+06,3.090496e+06,3.535076e+06,...,3.840312e+06,3.840312e+06,3.840312e+06,3.090496e+06,3.840312e+06,3.090496e+06,3.090496e+06,3.535076e+06,3.840312e+06,3.840312e+06
mean,1.904504e+06,2.783242e+05,-3.452192e+01,5.830016e+04,1.538080e+05,5.961325e+03,7.433388e+03,2.881696e+02,2.968805e+03,3.540204e+03,...,5.596588e+04,5.808881e+04,5.809829e+04,3.094490e-01,7.031439e-01,4.812496e-03,5.594791e-01,2.082508e+01,9.283667e+00,3.316220e-01
std,5.364695e+05,1.027045e+05,2.666775e+01,1.063070e+05,1.651457e+05,2.822569e+04,3.384608e+04,8.201989e+03,2.079689e+04,5.600154e+03,...,1.025336e+05,1.059654e+05,1.059718e+05,1.100401e+00,3.190347e+00,8.263861e-02,3.240649e+00,2.005149e+01,9.751570e+01,2.147923e+01
min,1.000018e+06,1.000060e+05,-9.600000e+01,-4.202502e+05,0.000000e+00,-6.827310e+03,-6.211620e+03,0.000000e+00,0.000000e+00,0.000000e+00,...,-4.233058e+05,-4.202502e+05,-4.202502e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.434385e+06,1.895170e+05,-5.500000e+01,0.000000e+00,4.500000e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00,0.000000e+00,0.000000e+00
50%,1.897122e+06,2.783960e+05,-2.800000e+01,0.000000e+00,1.125000e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.500000e+01,0.000000e+00,0.000000e+00
75%,2.369328e+06,3.675800e+05,-1.100000e+01,8.904669e+04,1.800000e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.633911e+03,...,8.535924e+04,8.889949e+04,8.891451e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.200000e+01,0.000000e+00,0.000000e+00
max,2.843496e+06,4.562500e+05,-1.000000e+00,1.505902e+06,1.350000e+06,2.115000e+06,2.287098e+06,1.529847e+06,2.239274e+06,2.028820e+05,...,1.472317e+06,1.493338e+06,1.493338e+06,5.100000e+01,1.650000e+02,1.200000e+01,1.650000e+02,1.200000e+02,3.260000e+03,3.260000e+03

In [4]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:1234@localhost:3306/finance')

query = """
SELECT 
  ccb.SK_ID_CURR,
  AVG(ccb.AMT_DRAWINGS_CURRENT) AS avg_drawings,
  app.AMT_INCOME_TOTAL,
  FLOOR(app.DAYS_BIRTH / -365) AS AGE,
  app.NAME_EDUCATION_TYPE,
  app.NAME_INCOME_TYPE,
  app.OCCUPATION_TYPE,
  app.CNT_CHILDREN,
  app.TARGET
FROM credit_card_balance ccb
JOIN application_train app
  ON ccb.SK_ID_CURR = app.SK_ID_CURR
GROUP BY 
  ccb.SK_ID_CURR,
  app.AMT_INCOME_TOTAL,
  app.DAYS_BIRTH,
  app.NAME_EDUCATION_TYPE,
  app.NAME_INCOME_TYPE,
  app.OCCUPATION_TYPE,
  app.CNT_CHILDREN,
  app.TARGET;
"""

df = pd.read_sql(query, engine)
df.to_csv('고객정보병합분석.csv', index=False, encoding='utf-8-sig')

In [5]:
df.shape

(86905, 9)

In [6]:
df.head()

,SK_ID_CURR,avg_drawings,AMT_INCOME_TOTAL,AGE,NAME_EDUCATION_TYPE,NAME_INCOME_TYPE,OCCUPATION_TYPE,CNT_CHILDREN,TARGET
0,100796,19259.062500,405000.0,52.0,Secondary / secondary special,Commercial associate,Cleaning staff,0,1
1,102143,35787.034688,396000.0,42.0,Higher education,Commercial associate,Managers,0,0
2,100662,0.000000,67500.0,46.0,Secondary / secondary special,Working,Sales staff,0,0
3,100218,66792.856154,337500.0,36.0,Higher education,Commercial associate,Drivers,0,0
4,101295,0.000000,112500.0,45.0,Secondary / secondary special,Working,None,0,0