In [1]:
import pandas as pd

In [2]:
prev_app = pd.read_csv('./data/previous_application.csv', encoding='utf-8-sig')

In [ ]:
prev_app

In [10]:
# 2. CSV 파일들 로드
# app_test = pd.read_csv('./data/application_test.csv', encoding='utf-8-sig')
app_train = pd.read_csv('./data/application_train.csv', encoding='utf-8-sig')
bureau = pd.read_csv('./data/bureau.csv', encoding='utf-8-sig')
balance = pd.read_csv('./data/bureau_balance.csv', encoding='utf-8-sig')
credit_card = pd.read_csv('./data/credit_card_balance.csv', encoding='utf-8-sig')
installments = pd.read_csv('./data/installments_payments.csv', encoding='utf-8-sig')
pos_cash = pd.read_csv('./data/POS_CASH_balance.csv', encoding='utf-8-sig')
prev_app = pd.read_csv('./data/previous_application.csv', encoding='utf-8-sig')

In [5]:
# print(df1.shape)
print(app_train.shape)
print(bureau.shape)
print(bureau_balance.shape)
print(credit_card.shape)
print(installments.shape)
print(pos_cash.shape)
print(prev_app.shape)

(307511, 122)
(1716428, 17)
(27299925, 3)
(3840312, 23)
(13605401, 8)
(10001358, 8)
(1670214, 37)

#### applicaion_train vs bureau 고객

In [6]:
app_train['SK_ID_CURR'].nunique()

307511

In [19]:
prev_app['SK_ID_CURR'].nunique()

338857

In [7]:
bureau['SK_ID_CURR'].nunique()

305811

In [ ]:
# 교집합 고객 수
len(set(app_train['SK_ID_CURR']) & set(bureau['SK_ID_CURR']))

263491

In [11]:
# bureau 정보가 없는 고객
len(set(app_train['SK_ID_CURR']) - set(bureau['SK_ID_CURR']))

44020

In [12]:
# application_train에는 없지만 bureau에만 있는 고객 (테스트셋 등 포함 가능성 있음)
len(set(bureau['SK_ID_CURR']) - set(app_train['SK_ID_CURR']))

42320

In [17]:
# 기준 테이블
base_ids = set(app_train['SK_ID_CURR'])

# 비교 대상 테이블 dict 구성
tables = {
    'bureau': bureau,
    'credit_card': credit_card,
    'installments': installments,
    'pos_cash': pos_cash,
    'prev_app': prev_app,
}

# 루프 돌면서 교집합, 차집합 개수 출력
for name, df in tables.items():
    target_ids = set(df['SK_ID_CURR'])
    
    only_in_base = len(base_ids - target_ids)
    only_in_target = len(target_ids - base_ids)
    intersection = len(base_ids & target_ids)
    
    print(f"{name}")
    print(f"  ├ app_train에만 있는 고객 수: {only_in_base}")
    print(f"  ├ {name}에만 있는 고객 수: {only_in_target}")
    print(f"  └ 둘 다에 있는 고객 수: {intersection}\n")

bureau
  ├ app_train에만 있는 고객 수: 44020
  ├ bureau에만 있는 고객 수: 42320
  └ 둘 다에 있는 고객 수: 263491

credit_card
  ├ app_train에만 있는 고객 수: 220606
  ├ credit_card에만 있는 고객 수: 16653
  └ 둘 다에 있는 고객 수: 86905

installments
  ├ app_train에만 있는 고객 수: 15868
  ├ installments에만 있는 고객 수: 47944
  └ 둘 다에 있는 고객 수: 291643

pos_cash
  ├ app_train에만 있는 고객 수: 18067
  ├ pos_cash에만 있는 고객 수: 47808
  └ 둘 다에 있는 고객 수: 289444

prev_app
  ├ app_train에만 있는 고객 수: 16454
  ├ prev_app에만 있는 고객 수: 47800
  └ 둘 다에 있는 고객 수: 291057

In [ ]:
# # 원하는 컬럼만 추출
# ext_sources = app_train[['SK_ID_CURR','EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']]

# # CSV로 저장
# ext_sources.to_csv("application_train_EXT_SOURCE.csv", index=False, encoding='utf-8-sig')

In [8]:
print(bureau.shape)
print(balance.shape)

(1716428, 17)
(27299925, 3)

In [10]:
# 각 테이블의 고유 SK_ID_BUREAU 수
n_bureau_unique = bureau["SK_ID_BUREAU"].nunique()
n_balance_unique = balance["SK_ID_BUREAU"].nunique()

# 각 집합 만들기
bureau_ids = set(bureau["SK_ID_BUREAU"])
balance_ids = set(balance["SK_ID_BUREAU"])

# 교집합
common_ids = bureau_ids & balance_ids
n_common_ids = len(common_ids)

# 결과 출력
print(f"✅ 공통된 SK_ID_BUREAU 수 (교집합): {n_common_ids}")
print(f"📁 bureau의 고유 SK_ID_BUREAU 수: {n_bureau_unique}")
print(f"📁 bureau_balance의 고유 SK_ID_BUREAU 수: {n_balance_unique}")

# 차집합 정보도 추가로 보고 싶다면
print(f"❌ bureau에만 있는 SK_ID_BUREAU 수: {len(bureau_ids - balance_ids)}")
print(f"❌ balance에만 있는 SK_ID_BUREAU 수: {len(balance_ids - bureau_ids)}")

✅ 공통된 SK_ID_BUREAU 수 (교집합): 774354
📁 bureau의 고유 SK_ID_BUREAU 수: 1716428
📁 bureau_balance의 고유 SK_ID_BUREAU 수: 817395
❌ bureau에만 있는 SK_ID_BUREAU 수: 942074
❌ balance에만 있는 SK_ID_BUREAU 수: 43041

In [ ]:
prev_app[['SK_ID_CURR', 'SK_ID_PREV', 'NAME_YIELD_GROUP']]

         SK_ID_PREV  SK_ID_CURR NAME_YIELD_GROUP
0           2030495      271877           middle
1           2802425      108129       low_action
2           2523466      122040             high
3           2819243      176158           middle
4           1784265      202054             high
...             ...         ...              ...
1670209     2300464      352015       low_normal
1670210     2357031      334635           middle
1670211     2659632      249544       low_normal
1670212     2785582      400317       low_normal
1670213     2418762      261212           middle

[1670214 rows x 3 columns]

In [6]:
# 고객별 이자율 구간 분포 집계
yield_group_counts = (
    prev_app[["SK_ID_CURR", "NAME_YIELD_GROUP"]]
    .value_counts()
    .reset_index(name="COUNT")
    .sort_values(["SK_ID_CURR", "COUNT"], ascending=[True, False])
)

print(yield_group_counts.head())

        SK_ID_CURR NAME_YIELD_GROUP  COUNT
546079      100001             high      1
713321      100002       low_normal      1
266624      100003           middle      2
644614      100003       low_normal      1
644615      100004           middle      1

In [9]:
yield_group_counts

        SK_ID_CURR NAME_YIELD_GROUP  COUNT
546079      100001             high      1
713321      100002       low_normal      1
266624      100003           middle      2
644614      100003       low_normal      1
644615      100004           middle      1
...            ...              ...    ...
421463      456254             high      1
163300      456255           middle      3
266620      456255             high      2
266626      456255       low_normal      2
421437      456255              XNA      1

[841687 rows x 3 columns]

In [7]:
# pivot 형태: 고객별 이자율 그룹 빈도
yield_group_pivot = (
    prev_app[["SK_ID_CURR", "NAME_YIELD_GROUP"]]
    .value_counts()
    .unstack(fill_value=0)
)

print(yield_group_pivot.head())

NAME_YIELD_GROUP  XNA  high  low_action  low_normal  middle
SK_ID_CURR
100001              0     1           0           0       0
100002              0     0           0           1       0
100003              0     0           0           1       2
100004              0     0           0           0       1
100005              1     1           0           0       0

In [8]:
yield_group_pivot

NAME_YIELD_GROUP  XNA  high  low_action  low_normal  middle
SK_ID_CURR
100001              0     1           0           0       0
100002              0     0           0           1       0
100003              0     0           0           1       2
100004              0     0           0           0       1
100005              1     1           0           0       0
...               ...   ...         ...         ...     ...
456251              0     1           0           0       0
456252              0     0           0           1       0
456253              0     2           0           0       0
456254              0     1           0           1       0
456255              1     2           0           2       3

[338857 rows x 5 columns]