In [1]:
import pandas as pd

In [2]:
prev_app = pd.read_csv('./data/previous_application.csv', encoding='utf-8-sig')

In [ ]:
prev_app

In [10]:
# 2. CSV ÌååÏùºÎì§ Î°úÎìú
# app_test = pd.read_csv('./data/application_test.csv', encoding='utf-8-sig')
app_train = pd.read_csv('./data/application_train.csv', encoding='utf-8-sig')
bureau = pd.read_csv('./data/bureau.csv', encoding='utf-8-sig')
balance = pd.read_csv('./data/bureau_balance.csv', encoding='utf-8-sig')
credit_card = pd.read_csv('./data/credit_card_balance.csv', encoding='utf-8-sig')
installments = pd.read_csv('./data/installments_payments.csv', encoding='utf-8-sig')
pos_cash = pd.read_csv('./data/POS_CASH_balance.csv', encoding='utf-8-sig')
prev_app = pd.read_csv('./data/previous_application.csv', encoding='utf-8-sig')

In [5]:
# print(df1.shape)
print(app_train.shape)
print(bureau.shape)
print(bureau_balance.shape)
print(credit_card.shape)
print(installments.shape)
print(pos_cash.shape)
print(prev_app.shape)

(307511, 122)
(1716428, 17)
(27299925, 3)
(3840312, 23)
(13605401, 8)
(10001358, 8)
(1670214, 37)

#### applicaion_train vs bureau Í≥†Í∞ù

In [6]:
app_train['SK_ID_CURR'].nunique()

307511

In [19]:
prev_app['SK_ID_CURR'].nunique()

338857

In [7]:
bureau['SK_ID_CURR'].nunique()

305811

In [ ]:
# ÍµêÏßëÌï© Í≥†Í∞ù Ïàò
len(set(app_train['SK_ID_CURR']) & set(bureau['SK_ID_CURR']))

263491

In [11]:
# bureau Ï†ïÎ≥¥Í∞Ä ÏóÜÎäî Í≥†Í∞ù
len(set(app_train['SK_ID_CURR']) - set(bureau['SK_ID_CURR']))

44020

In [12]:
# application_trainÏóêÎäî ÏóÜÏßÄÎßå bureauÏóêÎßå ÏûàÎäî Í≥†Í∞ù (ÌÖåÏä§Ìä∏ÏÖã Îì± Ìè¨Ìï® Í∞ÄÎä•ÏÑ± ÏûàÏùå)
len(set(bureau['SK_ID_CURR']) - set(app_train['SK_ID_CURR']))

42320

In [17]:
# Í∏∞Ï§Ä ÌÖåÏù¥Î∏î
base_ids = set(app_train['SK_ID_CURR'])

# ÎπÑÍµê ÎåÄÏÉÅ ÌÖåÏù¥Î∏î dict Íµ¨ÏÑ±
tables = {
    'bureau': bureau,
    'credit_card': credit_card,
    'installments': installments,
    'pos_cash': pos_cash,
    'prev_app': prev_app,
}

# Î£®ÌîÑ ÎèåÎ©¥ÏÑú ÍµêÏßëÌï©, Ï∞®ÏßëÌï© Í∞úÏàò Ï∂úÎ†•
for name, df in tables.items():
    target_ids = set(df['SK_ID_CURR'])
    
    only_in_base = len(base_ids - target_ids)
    only_in_target = len(target_ids - base_ids)
    intersection = len(base_ids & target_ids)
    
    print(f"{name}")
    print(f"  ‚îú app_trainÏóêÎßå ÏûàÎäî Í≥†Í∞ù Ïàò: {only_in_base}")
    print(f"  ‚îú {name}ÏóêÎßå ÏûàÎäî Í≥†Í∞ù Ïàò: {only_in_target}")
    print(f"  ‚îî Îëò Îã§Ïóê ÏûàÎäî Í≥†Í∞ù Ïàò: {intersection}\n")

bureau
  ‚îú app_trainÏóêÎßå ÏûàÎäî Í≥†Í∞ù Ïàò: 44020
  ‚îú bureauÏóêÎßå ÏûàÎäî Í≥†Í∞ù Ïàò: 42320
  ‚îî Îëò Îã§Ïóê ÏûàÎäî Í≥†Í∞ù Ïàò: 263491

credit_card
  ‚îú app_trainÏóêÎßå ÏûàÎäî Í≥†Í∞ù Ïàò: 220606
  ‚îú credit_cardÏóêÎßå ÏûàÎäî Í≥†Í∞ù Ïàò: 16653
  ‚îî Îëò Îã§Ïóê ÏûàÎäî Í≥†Í∞ù Ïàò: 86905

installments
  ‚îú app_trainÏóêÎßå ÏûàÎäî Í≥†Í∞ù Ïàò: 15868
  ‚îú installmentsÏóêÎßå ÏûàÎäî Í≥†Í∞ù Ïàò: 47944
  ‚îî Îëò Îã§Ïóê ÏûàÎäî Í≥†Í∞ù Ïàò: 291643

pos_cash
  ‚îú app_trainÏóêÎßå ÏûàÎäî Í≥†Í∞ù Ïàò: 18067
  ‚îú pos_cashÏóêÎßå ÏûàÎäî Í≥†Í∞ù Ïàò: 47808
  ‚îî Îëò Îã§Ïóê ÏûàÎäî Í≥†Í∞ù Ïàò: 289444

prev_app
  ‚îú app_trainÏóêÎßå ÏûàÎäî Í≥†Í∞ù Ïàò: 16454
  ‚îú prev_appÏóêÎßå ÏûàÎäî Í≥†Í∞ù Ïàò: 47800
  ‚îî Îëò Îã§Ïóê ÏûàÎäî Í≥†Í∞ù Ïàò: 291057

In [ ]:
# # ÏõêÌïòÎäî Ïª¨ÎüºÎßå Ï∂îÏ∂ú
# ext_sources = app_train[['SK_ID_CURR','EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']]

# # CSVÎ°ú Ï†ÄÏû•
# ext_sources.to_csv("application_train_EXT_SOURCE.csv", index=False, encoding='utf-8-sig')

In [8]:
print(bureau.shape)
print(balance.shape)

(1716428, 17)
(27299925, 3)

In [10]:
# Í∞Å ÌÖåÏù¥Î∏îÏùò Í≥†Ïú† SK_ID_BUREAU Ïàò
n_bureau_unique = bureau["SK_ID_BUREAU"].nunique()
n_balance_unique = balance["SK_ID_BUREAU"].nunique()

# Í∞Å ÏßëÌï© ÎßåÎì§Í∏∞
bureau_ids = set(bureau["SK_ID_BUREAU"])
balance_ids = set(balance["SK_ID_BUREAU"])

# ÍµêÏßëÌï©
common_ids = bureau_ids & balance_ids
n_common_ids = len(common_ids)

# Í≤∞Í≥º Ï∂úÎ†•
print(f"‚úÖ Í≥µÌÜµÎêú SK_ID_BUREAU Ïàò (ÍµêÏßëÌï©): {n_common_ids}")
print(f"üìÅ bureauÏùò Í≥†Ïú† SK_ID_BUREAU Ïàò: {n_bureau_unique}")
print(f"üìÅ bureau_balanceÏùò Í≥†Ïú† SK_ID_BUREAU Ïàò: {n_balance_unique}")

# Ï∞®ÏßëÌï© Ï†ïÎ≥¥ÎèÑ Ï∂îÍ∞ÄÎ°ú Î≥¥Í≥† Ïã∂Îã§Î©¥
print(f"‚ùå bureauÏóêÎßå ÏûàÎäî SK_ID_BUREAU Ïàò: {len(bureau_ids - balance_ids)}")
print(f"‚ùå balanceÏóêÎßå ÏûàÎäî SK_ID_BUREAU Ïàò: {len(balance_ids - bureau_ids)}")

‚úÖ Í≥µÌÜµÎêú SK_ID_BUREAU Ïàò (ÍµêÏßëÌï©): 774354
üìÅ bureauÏùò Í≥†Ïú† SK_ID_BUREAU Ïàò: 1716428
üìÅ bureau_balanceÏùò Í≥†Ïú† SK_ID_BUREAU Ïàò: 817395
‚ùå bureauÏóêÎßå ÏûàÎäî SK_ID_BUREAU Ïàò: 942074
‚ùå balanceÏóêÎßå ÏûàÎäî SK_ID_BUREAU Ïàò: 43041

In [ ]:
prev_app[['SK_ID_CURR', 'SK_ID_PREV', 'NAME_YIELD_GROUP']]

         SK_ID_PREV  SK_ID_CURR NAME_YIELD_GROUP
0           2030495      271877           middle
1           2802425      108129       low_action
2           2523466      122040             high
3           2819243      176158           middle
4           1784265      202054             high
...             ...         ...              ...
1670209     2300464      352015       low_normal
1670210     2357031      334635           middle
1670211     2659632      249544       low_normal
1670212     2785582      400317       low_normal
1670213     2418762      261212           middle

[1670214 rows x 3 columns]

In [6]:
# Í≥†Í∞ùÎ≥Ñ Ïù¥ÏûêÏú® Íµ¨Í∞Ñ Î∂ÑÌè¨ ÏßëÍ≥Ñ
yield_group_counts = (
    prev_app[["SK_ID_CURR", "NAME_YIELD_GROUP"]]
    .value_counts()
    .reset_index(name="COUNT")
    .sort_values(["SK_ID_CURR", "COUNT"], ascending=[True, False])
)

print(yield_group_counts.head())

        SK_ID_CURR NAME_YIELD_GROUP  COUNT
546079      100001             high      1
713321      100002       low_normal      1
266624      100003           middle      2
644614      100003       low_normal      1
644615      100004           middle      1

In [9]:
yield_group_counts

        SK_ID_CURR NAME_YIELD_GROUP  COUNT
546079      100001             high      1
713321      100002       low_normal      1
266624      100003           middle      2
644614      100003       low_normal      1
644615      100004           middle      1
...            ...              ...    ...
421463      456254             high      1
163300      456255           middle      3
266620      456255             high      2
266626      456255       low_normal      2
421437      456255              XNA      1

[841687 rows x 3 columns]

In [7]:
# pivot ÌòïÌÉú: Í≥†Í∞ùÎ≥Ñ Ïù¥ÏûêÏú® Í∑∏Î£π ÎπàÎèÑ
yield_group_pivot = (
    prev_app[["SK_ID_CURR", "NAME_YIELD_GROUP"]]
    .value_counts()
    .unstack(fill_value=0)
)

print(yield_group_pivot.head())

NAME_YIELD_GROUP  XNA  high  low_action  low_normal  middle
SK_ID_CURR
100001              0     1           0           0       0
100002              0     0           0           1       0
100003              0     0           0           1       2
100004              0     0           0           0       1
100005              1     1           0           0       0

In [8]:
yield_group_pivot

NAME_YIELD_GROUP  XNA  high  low_action  low_normal  middle
SK_ID_CURR
100001              0     1           0           0       0
100002              0     0           0           1       0
100003              0     0           0           1       2
100004              0     0           0           0       1
100005              1     1           0           0       0
...               ...   ...         ...         ...     ...
456251              0     1           0           0       0
456252              0     0           0           1       0
456253              0     2           0           0       0
456254              0     1           0           1       0
456255              1     2           0           2       3

[338857 rows x 5 columns]